// =============================
// ** LearningMode **
.video {
    width: 100%;
    // height: 74vh;
    aspect-ratio: 16 / 9;

    margin-bottom: 24px;
    padding: 0 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black) !important;
    transition: height 0.3s ease;
}

.video-error {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;

    h3 {
        font-size: 1.8rem;
        color: #fff;
    }

    p {
        font-size: 1.4rem;
        opacity: 0.7;
    }
}

.video.expanded {
    width: 100%;
}

.content {
    background-color: var(--white);
    padding: 16px 32px;

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 16px;

        .lesson-title {
            font-size: 2.8rem;
            margin-bottom: 4px;
        }

        .lesson-desc {
            font-size: 1.4rem;
            color: var(--text-color);
            margin-bottom: 16px;
        }
    }

    .note-btn {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding: 16px 12px;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #ebebeb;
        border: 1px solid #ebebeb;
        border-radius: 8px;
        color: var(--text-color-bold);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #d6d6d6;
        }

        .note-time {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .note-icon {
            font-size: 1.6rem;
            color: var(--primary-highlight);
        }
    }
}

// ==============================
// Animation
@keyframes fadeScaleIn {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate {
    opacity: 0;
    transform: scale(0.95);
    animation: fadeScaleIn 0.4s ease-out forwards;
    -webkit-animation: fadeScaleIn 0.4s ease-out forwards;
}

// ============RESPONSIVE================
/* Mobile */
@media (max-width: 767px) {
}

/* Tablet nhỏ - <= iPad Air */
@media (min-width: 768px) and (max-width: 1023px) {
    .video {
        width: 100%;
        aspect-ratio: 16 / 6;
    }

    .video.expanded {
        width: 100%;
        aspect-ratio: 16 / 7;
    }

    .content {
        background-color: var(--white);
        padding: 0 20px 28px;

        .title-wrapper {
            flex-direction: column;

            .lesson-title {
                font-size: 2.2rem;
                margin-bottom: 4px;
            }

            .lesson-desc {
                font-size: 1.4rem;
                color: var(--text-color);
                margin-bottom: 16px;
            }
        }

        .note-btn {
            margin-bottom: 12px;
        }
    }
}

/* Tablet lớn - iPad Pro */
@media (min-width: 1024px) and (max-width: 1365px) {
    .video {
        width: 100%;
        aspect-ratio: 16 / 8;
    }

    .video.expanded {
        width: 100%;
        aspect-ratio: 16 / 7.5;
    }

    .content {
        background-color: var(--white);
        padding: 0 28px 32px;

        .title-wrapper {
            margin-bottom: 16px;

            .lesson-title {
                font-size: 2.2rem;
                margin-bottom: 4px;
            }

            .lesson-desc {
                font-size: 1.4rem;
                color: var(--text-color);
                margin-bottom: 16px;
            }
        }

        .note-btn {
            margin-bottom: 12px;
        }
    }
}

/* Desktop */
@media (min-width: 1366px) {
    // hanlde video size, chỉ áp dụng desktop, các thiết bị khác thì dùng popup -> nổi lên , tránh chiếm viewport quá nhiều
    .video {
        width: 100%;
        aspect-ratio: 16 / 7;
    }

    .video.expanded {
        width: 100%;
        aspect-ratio: 16 / 6.2;
    }
}
