.carousel-img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 7; // set lại 16/6 -> kích thước chuẩn banner để design theo 2048 x 768, và là 1024 x 384
    object-fit: contain;
    object-position: center;
}

:global {
    // Override carousel
    .ant-carousel .slick-dots li,
    .ant-carousel .slick-dots li button {
        width: 32px;
        height: 8px;
    }

    .ant-carousel .slick-dots li button:before {
        content: '';
        width: 32px;
        height: 8px;
        opacity: 1;
        border-radius: 50px;
        margin-right: 12px;
    }

    .ant-carousel .slick-dots li.slick-active button:before {
        width: 50px;
        height: 8px;
        background-color: #fff;
    }

    .ant-carousel .slick-dots li.slick-active,
    .ant-carousel .slick-dots li.slick-active::after,
    .ant-carousel .slick-dots li.slick-active button {
        width: 50px;
        height: 8px;
        background-color: #fff;
    }

    // Mobile
    @media (max-width: 767px) {
        .ant-carousel .slick-dots li,
        .ant-carousel .slick-dots li button,
        .ant-carousel .slick-dots li button:before,
        .ant-carousel .slick-dots li.slick-active button:before,
        .ant-carousel .slick-dots li.slick-active,
        .ant-carousel .slick-dots li.slick-active::after,
        .ant-carousel .slick-dots li.slick-active button {
            height: 6px;
        }
    }
}
