// Common styles for authentication forms
.auth-wrapper {
    min-height: 100vh;
    background: linear-gradient(to right, #fdfdfd, #f7f7f7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;

    .logo {
        img {
            height: 56px;
        }
    }
}

.auth-box {
    width: 100%;
    max-width: 480px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding: 36px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    color: --var(--black);
}

.footer {
    margin-top: 16px;
    text-align: center;

    a {
        color: #ce232d;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-actions {
    .footer-text {
        font-weight: 600;
    }

    margin-top: 24px;
    text-align: center;
    p {
        margin-bottom: 12px;
        font-weight: 500;
        color: #333;
    }
    button {
        margin: 0 8px;
        min-width: 120px;
    }
}

// Custom style when used with login-page
.login-page {
    .options {
        user-select: none;
        display: flex;
        justify-content: space-between;
        margin: -16px 0 8px;

        a {
            display: inline-block;
            margin-top: 4px; // only for desktop
            font-weight: 500;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .register-text {
        margin-top: 8px;
        text-align: center;

        a {
            color: #ce232d;
            font-weight: 500;
            text-decoration: none;
            margin-left: 4px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
