.wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
}

.link {
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: var(--primary);
        text-shadow: 0 0 0.4px currentColor, 0 0 0.4px currentColor;
    }
}

.parent_link,
.children_link {
    display: inline-flex;
    align-items: center;
}

.parent_link .link,
.link.home {
    color: var(--primary);
}

.link.home {
    font-weight: 500;
}

.separator {
    margin: 0 6px;
    color: var(--text-color-light);
}

.current {
    display: inline-block;
    color: var(--black);
}

@media (max-width: 767px) {
    .wrapper {
        display: inline;

        .parent_link,
        .children_link {
            display: inline;
        }
    }
}
