:root {
    --header-height: 52px;
    --footer-height: 52px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    background-color: #29302b;
    color: #fff;
    padding: 12px 32px;

    .header-inner,
    .logo-inner,
    .logo-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
    }

    .back-icon {
        color: #efeded;
        font-size: 2.4rem;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        background-color: transparent;
        transition: all 0.3s ease;
        &:hover {
            color: var(--white-color);
            background-color: rgba(255, 255, 255, 0.1);
            text-decoration: none !important;
        }
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        height: var(--header-height);
        border-radius: 16px;
    }

    .logo {
        height: var(--header-height);
        display: block;
        margin: 0 auto;
        padding: 8px;
        border-radius: 16px;
    }

    .course-title {
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 16px;
        color: var(--white-color);
        overflow: hidden;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .module-action {
        display: flex;
        align-items: center;
        gap: 32px;

        .progress-bar {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #e4e4e4;
            gap: 12px;

            :global {
                .ant-progress-text {
                    color: #e4e4e4;
                    font-size: 1rem;
                    font-weight: 500;
                }

                .ant-progress .ant-progress-circle-trail {
                    stroke: #7a7a7a;
                }
            }

            .completed-msg {
                font-size: 1.3rem;
                font-weight: 400;
            }

            .cert-link {
                color: var(--primary-highlight);
                font-size: 1.3rem;
                font-weight: 400;
                cursor: pointer;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 8px;

            .note-btn,
            .help-btn {
                color: #e4e4e4;
                background-color: transparent;
                font-size: 1.4rem;
                font-weight: 400;
                padding: 5px 8px;

                &:hover {
                    color: var(--white-color);
                    text-decoration: none !important;
                }
            }
        }
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
}

// đây là body, chứa video và sidebar
.content {
    flex: 1;
    display: flex;
    gap: 4px;
    align-items: flex-start;
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

// video + mô tả
.video-area {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: 0;
    width: calc(100% - 320px); // mặc định trừ sidebar
    overflow-y: auto;
    overscroll-behavior: contain;
    transition: width 0.3s ease; // hiệu ứng mượt

    &.expanded {
        width: 100%; // khi sidebar đóng, video chiếm toàn bộ chiều rộng
    }
}

// sidebar
.sidebar {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    right: 0;
    background-color: #fff;
    padding: 16px 20px;
    width: 320px;
    overflow-y: auto;
    overscroll-behavior: contain;

    // hiệu ứng trượt
    transition: transform 0.3s ease;
    transform: translateX(0); // mặc định mở

    &.closed {
        transform: translateX(100%); // trượt ra ngoài màn hình bên phải
    }

    .list {
        padding: 8px 16px;
    }
}

.video-area::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    width: 10px;
}
.video-area::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 8px;
}

// FOOTER
.footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
    height: var(--footer-height);
    background-color: #f0f0f0;
    padding: 8px 32px;
    border-top: 1px solid #eee;

    .footer-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .nav-btn {
            padding: 6px 20px;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    .chapter-info {
        display: flex;
        align-items: center;
        position: absolute;
        right: 16px;
        gap: 16px;

        .chapter-name {
            font-size: 1.4rem;
            font-weight: 500;
            color: #333;
        }

        .toggle-btn {
            width: 40px;
            height: 40px;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            color: #222;
            cursor: pointer;
            transition:
                background-color 0.3s ease,
                box-shadow 0.3s ease;

            &:hover {
                background-color: #f5f5f5;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            }

            &:active {
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
