.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container,
.main {
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    flex-direction: column; //mobile" column default
}

.container {
    padding: 32px var(--default-layout-horizontal-space);
    gap: 24px;
}

.breadcrumb-wrapper {
    padding: 32px var(--default-layout-horizontal-space);
}

// Reponsive >= tablet
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        flex: 0 0 24%;
        max-width: 24%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        flex: 0 0 76%;
        max-width: 76%;
        padding: 0 24px 0 8px;
    }
}
