:global {
    .banner-wrapper {
        .carousel-img {
            display: block;
            width: 100%;
            max-height: 270px;
            object-fit: cover;
            object-position: center;
        }

        // Override carousel

        .ant-carousel .slick-dots {
            display: block;
            text-align: left;
            bottom: -16px;
            margin-left: 24px;
            justify-content: flex-start;
        }

        .ant-carousel .slick-list {
            border-radius: 32px;
            overflow: hidden;

            //============RESPONSIVE================/
            // Mobile
            @media (max-width: 767px) {
                border-radius: 20px;
            }

            /* Tablet nhỏ - <= iPad Air */
            @media (min-width: 768px) and (max-width: 1023px) {
                border-radius: 24px;
            }

            /* Tablet lớn - iPad Pro */
            @media (min-width: 1024px) and (max-width: 1365px) {
                border-radius: 24px;
            }
        }

        .ant-carousel .slick-dots li,
        .ant-carousel .slick-dots li button {
            width: 32px;
            height: 8px;
            background-color: #dce0e3;
        }

        .ant-carousel .slick-dots li button:before {
            content: '';
            width: 32px;
            height: 8px;
            opacity: 1;
            border-radius: 4px;
            margin-right: 12px;
            background-color: #dce0e3;
        }

        .ant-carousel .slick-dots li.slick-active button:before {
            width: 50px;
            height: 8px;
            background-color: #9aa6af;
        }

        .ant-carousel .slick-dots li.slick-active,
        .ant-carousel .slick-dots li.slick-active::after,
        .ant-carousel .slick-dots li.slick-active button {
            width: 50px;
            height: 8px;
            background-color: #9aa6af;
        }

        // override arrow buttons
        .ant-carousel .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 2;
            width: 36px;
            height: 36px;
            background: #fff;
            color: #000;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            font-size: 1.2rem;
            cursor: pointer;
            transform: translateY(-50%);
            transition: all 0.3s ease;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ant-carousel button.slick-arrow.slick-next::after,
        .ant-carousel button.slick-arrow.slick-prev::after {
            content: '';
            font-size: 1.2rem;
            line-height: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
        }

        .ant-carousel button.slick-arrow.slick-prev::after {
            transform: translate(-40%, -50%) rotate(-45deg);
        }
        .ant-carousel button.slick-arrow.slick-next::after {
            transform: translate(-70%, -50%) rotate(135deg);
        }

        .ant-carousel .slick-arrow:hover {
            color: var(--text-color-bold);
            background: #f5f5f5;
        }

        .ant-carousel .slick-prev {
            left: 0;
            transform: translate(-50%, -50%);
        }

        .ant-carousel .slick-next {
            right: 0;
            transform: translate(50%, -50%);
        }

        @media (max-width: 768px) {
            .ant-carousel .slick-arrow {
                display: none;
            }
        }
    }
}
